.item {
  width: 15rem;
  height: 25rem;
  background-color: rgb(164, 167, 173);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item img {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  max-height: 95%;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.item:hover .backdrop {
  opacity: 1;
}

.backdrop {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(21%, 200%);
}

.text {
  background-color: #8a2b06;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.price {
  font-weight: bold;
}

p {
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
}

button {
  width: 90%;
  align-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i {
  padding-right: 8%;
}

i:hover {
  color: #8a2b06;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.name {
  height: 47px;
}
