/* Container has no color */
.Container {
  height: 100vh;
  width: 100vw;
}

.FilterContainer {
  background-color: azure;
  height: 20vh;
  margin: 0;
}

.Filters {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
} 

.Filters > div {
  background: none;
  border: none;
  font-size: medium;
  font-weight: 600;
}

/* Content has no color */
.Content {
  /* display: grid;
  grid-template-columns: 20% auto; */
  padding-top: 10px;
}

/* Grid has no color */
.Grid {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Item {
  height: 325px;
  width: 225px;
  margin: 0px 20px 20px 20px;
  position: relative;
  padding-bottom: 35px;
}

.Item img:first-child {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Item img:nth-child(2) {
  position: absolute;
  top: -15px;
  right: -5px;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 50%;
  width: 20%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */